<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
    <ion-content class="padding">
        <div ng-repeat="message in decrypted ">
            <div>
                <div class="row">
                    <div class="col col-25"> </div>
                    <div class="col col-50" style='background-color: lightblue;'>{{message[0]}} {{message[1]}}</div>
                </div>
            </div>
            <!-- <div>
                <div class="row" ng-show='message[2] === "sent"'>
                    <div class="col"> </div>
                    <div class="col col-75" style='background-color: lightblue;'>{{message[0]}} {{message[1]}}</div>
                </div>
            </div> -->

        </div>

        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Email" ng-model="inputField">
                </label>
                <button class="button button-small" ng-click="sendMessage(inputField)">
                    Submit
                </button>
            </div>

        </div>
    </ion-content>
</ion-view>
