<ion-view view-title="Chats">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="(name, value) in people" type="item-text-wrap" href="#/tab/chats/{{name}}">

                <img ng-src="{{chat.face}}">
                <h2>{{name}}</h2>
                <p>Click to see your lastest messages</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <!-- <ion-option-button class="button-assertive" ng-click="remove(name)">
                    Delete
                </ion-option-button> -->
                <!-- <a class="item item-icon-left" href="#">
                    <i class="icon ion-person-stalker"></i> Friends
                    <span class="badge badge-assertive">0</span>
                </a> -->

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
