<ion-view view-title="Chats">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="(name, value) in people" type="item-text-wrap" href="#/tab/chats/{{name}}">

                <img ng-src="{{chat.face}}">
                <h2>{{name}}</h2>
                <p>Click to see your latest messages</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
