<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Chats Tab -->
  <ion-tab title="Chats with Friends" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Manage chats Tab -->
  <ion-tab title="Edit & Remove Passwords" icon-off="ion-erlenmeyer-flask" icon-on="ion-erlenmeyer-flask" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="Edit using profile" icon-off="ion-lock-combination" icon-on="ion-lock-combination" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
